<footer class="footer">
    <img class="footer__logo" src="./assets/images/logo.svg" alt="Loopstudios Logo">
    <nav class="footer__nav">
        <ul class="footer__navlist">
            <li class="footer__li"><a href="https://www.frontendmentor.io/challenges/loopstudios-landing-page-N88J5Onjw/hub" class="footer__nav--link" target="_blank">About</a></li>
            <li class="footer__li"><a href="https://www.frontendmentor.io/challenges/loopstudios-landing-page-N88J5Onjw/hub" class="footer__nav--link" target="_blank">Careers</a></li>
            <li class="footer__li"><a href="https://www.frontendmentor.io/challenges/loopstudios-landing-page-N88J5Onjw/hub" class="footer__nav--link" target="_blank">Events</a></li>
            <li class="footer__li"><a href="https://www.frontendmentor.io/challenges/loopstudios-landing-page-N88J5Onjw/hub" class="footer__nav--link" target="_blank">Products</a></li>
            <li class="footer__li"><a href="https://www.frontendmentor.io/challenges/loopstudios-landing-page-N88J5Onjw/hub" class="footer__nav--link" target="_blank">Support</a></li>
        </ul>
    </nav>
    <nav class="footer__social">
        <ul class="footer__social--list">
            <li class="footer__social--item"><a href="https://www.facebook.com/frontendmentor" class="footer__social--link" target="_blank"><img src="./assets/images/icon-facebook.svg" alt="Facebook icon"></a></li>
            <li class="footer__social--item"><a href="https://twitter.com/frontendmentor" class="footer__social--link" target="_blank"><img src="./assets/images/icon-twitter.svg" alt="Twitter icon"></a></li>
            <li class="footer__social--item"><a href="https://github.com/tanferest" class="footer__social--link" target="_blank"><img src="./assets/images/icon-pinterest.svg" alt="Pinterest icon"></a></li>
            <li class="footer__social--item"><a href="https://github.com/tanferest" class="footer__social--link" target="_blank"><img src="./assets/images/icon-instagram.svg" alt="Instagram icon"></a></li>
        </ul>
    </nav>
    <p class="footer__text">&copy; 2021 Loopstudios. All rights reserved.</p>
</footer>
