<header class="header">
    <div class="header__topnav">
        <img class="header__logo" src="./assets/images/logo.svg" alt="Loopstudios Logo">
        <img class="header__burger js-burger" src="./assets/images/icon-hamburger.svg" alt="Menu icon">
    </div>
    <div class="menu js-menu hidden">
        <div class="menu__top">
            <img class="header__logo" src="./assets/images/logo.svg" alt="Loopstudios Logo">
            <img class="js-close" src="./assets/images/icon-close.svg" alt="Close icon">
        </div>
        <nav class="menu__nav">
            <ul class="menu__list">
                <li class="menu__item"><a class="js-link" href="#about">About</a></li>
                <li class="menu__item"><a class="js-link" href="">Careers</a></li>
                <li class="menu__item"><a class="js-link" href="">Events</a></li>
                <li class="menu__item"><a class="js-link" href="#products">Products</a></li>
                <li class="menu__item"><a class="js-link" href="#support">Support</a></li>
            </ul>
        </nav>
    </div>
    <h1 class="header__title">Immersive experiences that deliver</h1>
</header>
