<header class="header">
    <div class="header__topnav">
        <img class="header__logo" src="./assets/images/logo.svg" alt="Loopstudios Logo">
        <img class="header__burger" src="./assets/images/icon-hamburger.svg" alt="Menu icon">
    </div>
    <div class="menu hidden">
        <div class="menu__top">
            <img class="header__logo" src="./assets/images/logo.svg" alt="Loopstudios Logo">
            <img class="header__burger" src="./assets/images/icon-close.svg" alt="Close icon">
        </div>
        <nav class="menu__nav">
            <ul class="menu__list">
                <li class="menu__item"><a href="">About</a></li>
                <li class="menu__item"><a href=""></a>Careers</li>
                <li class="menu__item"><a href=""></a>Events</li>
                <li class="menu__item"><a href=""></a>Products</li>
                <li class="menu__item"><a href=""></a>Support</li>
            </ul>
        </nav>
    </div>
    <h1 class="header__title">Immersive experiences that deliver</h1>
</header>
