<header class="header">
    <div class="header__topnav">
        <img class="header__logo" src="./assets/images/logo.svg" alt="Loopstudios Logo">
        <img class="header__burger js-burger" src="./assets/images/icon-hamburger.svg" alt="Menu icon">
        <nav class="header__menu">
            <ul class="header__menu--list">
                <li class="header__menu--item"><a href="#about">About</a></li>
                <li class="header__menu--item"><a href="">Careers</a></li>
                <li class="header__menu--item"><a href="">Events</a></li>
                <li class="header__menu--item"><a href="#products">Products</a></li>
                <li class="header__menu--item"><a href="#support">Support</a></li>
            </ul>
        </nav>
    </div>
    <div class="mobile js-menu hidden">
        <div class="mobile__top">
            <img class="header__logo" src="./assets/images/logo.svg" alt="Loopstudios Logo">
            <img class="js-close" src="./assets/images/icon-close.svg" alt="Close icon">
        </div>
        <nav class="mobile__nav">
            <ul class="mobile__list">
                <li class="mobile__item"><a class="js-link" href="#about">About</a></li>
                <li class="mobile__item"><a class="js-link" href="">Careers</a></li>
                <li class="mobile__item"><a class="js-link" href="">Events</a></li>
                <li class="mobile__item"><a class="js-link" href="#products">Products</a></li>
                <li class="mobile__item"><a class="js-link" href="#support">Support</a></li>
            </ul>
        </nav>
    </div>
    <h1 class="header__title">Immersive experiences that deliver</h1>
</header>
