<main>
    <section class="section about">
        <img class="about__img" src="./assets/images/mobile/image-interactive.jpg" alt="">
        <h2 class="section__title">
            The leader in interactive vr
        </h2>
        <p class="about__text">Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand.</p>
    </section>
    <section class="section creations">
        <h2 class="section__title">Our creations</h2>
        <ul class="creations__list">
            <li class="creations__item">
                <div class="img-container">
                    <img class="creations__img" src="./assets/images/mobile/image-deep-earth.jpg" alt="The Planet Earth seen from the space">
                    <div class="creations__gradient"></div>
                </div>
                <p class="creations__text">Deep earth</p>
            </li>
            <li class="creations__item">
                <div class="img-container">
                    <img class="creations__img" src="./assets/images/mobile/image-night-arcade.jpg" alt="Arcade lighted games">
                    <div class="creations__gradient"></div>
                </div>
                <p class="creations__text">Night arcade</p>
            </li>
            <li class="creations__item">
                <div class="img-container">
                    <img class="creations__img" src="./assets/images/mobile/image-soccer-team.jpg" alt="Soccer player wearing a red shirt">
                    <div class="creations__gradient"></div>
                </div>
                <p class="creations__text">Soccer team vr</p>
            </li>
            <li class="creations__item">
                <div class="img-container">
                    <img class="creations__img" src="./assets/images/mobile/image-grid.jpg" alt="Close-up of the front down part of a car">
                    <div class="creations__gradient"></div>
                </div>
                <p class="creations__text short-text">The grid</p>
            </li>
            <li class="creations__item">
                <div class="img-container">
                    <img class="creations__img" src="./assets/images/mobile/image-from-above.jpg" alt="Cenital view of a serpent road in Autumn">
                    <div class="creations__gradient"></div>
                </div>
                <p class="creations__text">From up above vr</p>
            </li>
            <li class="creations__item">
                <div class="img-container">
                    <img class="creations__img" src="./assets/images/mobile/image-pocket-borealis.jpg" alt="The northern lights in the sky">
                    <div class="creations__gradient"></div>
                </div>
                <p class="creations__text">Pocket borealis</p>
            </li>
            <li class="creations__item">
                <div class="img-container">
                    <img class="creations__img" src="./assets/images/mobile/image-curiosity.jpg" alt="A rover in Mars">
                    <div class="creations__gradient"></div>
                </div>
                <p class="creations__text">The curiosity</p>
            </li>
            <li class="creations__item">
                <div class="img-container">
                    <img class="creations__img" src="./assets/images/mobile/image-fisheye.jpg" alt="Fisheye view of a landscape and the sky">
                    <div class="creations__gradient"></div>
                </div>
                <p class="creations__text">Make it fisheye</p>
            </li>
        </ul>
        <button>See all</button>
    </section>
</main>
